.color{
    background-image: url(bou9.jpg);
    background-size: 1550px 800px;
}
.info{
    min-height: 60vh;
    display: flex;
    align-items: center;
    font-family: 'Palatino Linotype';
    color: white;
}

.dept{
    color: orangered;
}

.brief{
    text-align: justify;
}

.contain{
    display: flex;
    justify-content: end;
}

.pic{
    width: 300px;
    height: 350px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.tab-align{
    text-align: center;
    font-family: 'Poppins';
}

.bt-size{
    font-size: 40px;
}

.btn-pos{
    justify-content: space-around;
}
